<!DOCTYPE html>
<html ng-app="WeatherApp" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Weather widget</title>

    <meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=no" />
    <meta name="description" content="some description" />
    <meta name="keywords" content="some,keywords" />
    <meta property="og:title" content="Weather widget" />
    <meta property="og:description" content="some description" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="images/some-thumbnail.jpg" />

    <meta name="twitter:card" content="Weather Widget" />
    <meta name="twitter:url" content="http://example.com" />
    <meta name="twitter:title" content="Weather widget" />
    <meta name="twitter:description" content="some description" />
    <meta name="twitter:image" content="images/some-thumbnail.jpg" />

    <link href="https://fonts.googleapis.com/css?family=Exo+2:400,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="styles/app.min.css" media="screen" charset="utf-8">
  </head>

  <body ng-controller="ApplicationController">
    <div class="fullscreen-bg">
      <video loop autoplay poster="images/clouds.png" class="fullscreen-bg__video">
        <source src="videos/clouds.webm" type="video/webm"></source>
        <source src="videos/clouds.ogv" type="video/ogv"></source>
        <source src="videos/clouds.mp4" type="video/mp4"></source>
          Video not supported
      </video>
    </div>
    <div class="loading-screen" ng-cloak="" ng-show="loading">
      <h1>Getting Weather Forecast, please wait...</h1>
      <div class="sk-cube-grid">
        <div class="sk-cube sk-cube1"></div>
        <div class="sk-cube sk-cube2"></div>
        <div class="sk-cube sk-cube3"></div>
        <div class="sk-cube sk-cube4"></div>
        <div class="sk-cube sk-cube5"></div>
        <div class="sk-cube sk-cube6"></div>
        <div class="sk-cube sk-cube7"></div>
        <div class="sk-cube sk-cube8"></div>
        <div class="sk-cube sk-cube9"></div>
      </div>
    </div>
    <main class="page-content">
      <div class="weather-widget" ng-controller="WeatherWidgetController as WeatherWidgetCtrl" ng-cloak>
        <div class="weather-widget-box today" ng-cloak>
          <header class="weather-widget-box-header">
            <h5>
              {{ forecast.location.city }}, {{ forecast.location.country }}
            </h5>
            <!-- NOTE: UNCOMMENT THIS TO ENABLE THE PLACE SEARCH FUNCTIONALITY -->
            <!--<button class="open-search-button right"
             type="button" ng-click="WeatherWidgetCtrl.togglePopup()">
              &nbsp;
            </button>-->
          </header>
          <hgroup class="temperatures">
            <h2 class="temperature-item avg-temperature" ng-cloak>
              {{ forecast.today.condition.temp}}º
            </h2>
            <h5 class="temperature-item">
              Hi <span class="hightest-temperature" ng-cloak>
                {{ forecast.today.condition.high}}º
              </span>
            </h5>
            <h5 class="temperature-item">
              Lo <span class="lowest-temperature" ng-cloak>
                {{ forecast.today.condition.low }}º
              </span>
            </h5>
          </hgroup>

          <div class="weather-forecast-icon
            weather-icon big {{ forecast.today.condition.text | slugify }}" ng-cloak></div>

          <section class="today-info">
            <h3 class="weather-forecast-description" ng-cloak>
              {{forecast.today.condition.text}}
            </h3>
            <hgroup class="weather-forecast-metrics" ng-cloak>
              <h4 class="weather-forecast-metric">
                Humidity: <span class="humidity">
                  {{forecast.today.atmosphere.humidity}}%
                </span>
              </h4>
              <h4 class="weather-forecast-metric">
                Wind Speed:
                <span class="wind-speed">
                  {{forecast.today.wind.speed}}
                  <span ng-if="WeatherWidgetCtrl.displayUnit === 'c'">km/h</span>
                  <span ng-if="WeatherWidgetCtrl.displayUnit === 'f'">mph</span>
                </span>
              </h4>
            </hgroup>
            <h5 class="forecast-day" ng-cloak>{{forecast.date | amDateFormat: 'dddd' }}</h5>
          </section>
        </div>

        <div class="container">
          <div class="weather-widget-box" ng-repeat="dayForecast in forecast.week | filter | limitTo:2" ng-cloak>
            <div class="weather-forecast">
              <div class="weather-forecast-icon weather-icon {{ dayForecast.text | slugify }}"></div>
              <h5 class="forecast-day">{{dayForecast.date | amDateFormat: 'dddd' }}</h5>
              <h5 class="forecast-description">{{ dayForecast.text }}</h5>
            </div>

            <footer class="temperatures">
              <h5 class="temperature-item">
                Hi <span class="hightest-temperature">
                  {{dayForecast.high}}º
                </span>
              </h5>
              <h5 class="temperature-item">
                Lo <span class="lowest-temperature">
                  {{dayForecast.low}}º
                </span>
              </h5>
            </footer>
          </div>
        </div>

        <nav class="temperature-units-switcher">
          <a href=""
          ng-click="WeatherWidgetCtrl.toggleUnits('c')"
          ng-class="{ active: WeatherWidgetCtrl.displayUnit === 'c' }">C</a>
          <a href=""
          ng-click="WeatherWidgetCtrl.toggleUnits('f')"
          ng-class="{ active: WeatherWidgetCtrl.displayUnit === 'f' }">F</a>
        </nav>
        <!-- search popup -->
        <section class="search-popup" ng-show="WeatherWidgetCtrl.isPopupOpen">
          <header>
            <form class="" ng-submit="WeatherWidgetCtrl.findPlace(query)">
              <input type="search" name="search" placeholder="Search by city or Zipcode (US and Canada only)" ng-model="query">
            </form>
            <button class="search-popup-close" ng-click="WeatherWidgetCtrl.togglePopup()">&times;</button>
          </header>

          <section class="search-results">
            <ul ng-show="places" class="places-list">
              <li class="place-item"
              ng-repeat="place in places | filter" id="{{ place.info.id }}">
                <a ng-click="WeatherWidgetCtrl.getForecast(place.latitude, place.longitude)">
                  <h4>
                    <span ng-if="place.info.suburb">{{place.info.suburb}},</span>
                    <span>{{place.info.city}}</span>
                  </h4>
                  <small>
                    <span ng-show="place.info.region.code">{{place.info.region.code}},</span> {{place.info.country.name}}
                  </small>
                </a>
              </li>
            </ul>

            <hgroup class="popup-message" ng-hide="places">
              <h2>Type your town's name or a zipcode above</h2>
              <p>The results will be shown in this space</p>
            </hgroup>

            <hgroup class="popup-message" ng-show="places.length === 0">
              <h2>
                We don't have the forecast for nowhere :(
              </h2>
              <h5>
                We couldn't find the place you were looking for.<br>
                Please, try again.
              </h5>
              <p>
                You search by city name, suburb or zip code (for US and Canada)
              </p>
            </hgroup>
          </section>
        </section>
        <!-- END :: search popup -->
      </div>
    </main>

    <!-- build:js scripts/vendor.min.js -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/app.min.js -->
    <script src="js/main.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/controllers.js"></script>
    <!-- endbuild -->
  </body>
</html>
